<style type="text/css">
  .modal{
      z-index: 20;   
  }
  .modal-backdrop{
      z-index: 10;        
  }​
  .inner{
    top: 40px;
    width: 100%;
  }
</style>
<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
    	<div id="sub_content">
    	 <h1>Place your order</h1>
            <div class="bs-wizard">
                <div class="col-xs-6 bs-wizard-step active">
                  <div class="text-center bs-wizard-stepnum"><strong>1.</strong> Your details</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
                                         
              	<div class="col-xs-6 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum"><strong>2.</strong> Finish!</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>  
		</div><!-- End bs-wizard --> 
        </div><!-- End sub_content -->
	</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

    <div id="position" class="hidden">
        <div class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Category</a></li>
                <li>Page active</li>
            </ul>
            <a href="#" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
        </div>
    </div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
			<div class="col-md-3">
            
				<div class="box_style_2 hidden-xs info">
					<h4 class="nomargin_top">Delivery time <i class="icon_clock_alt pull-right"></i></h4>
					<p>
						25 Mins
					</p>
					<hr>
					<h4>Secure payment <i class="icon_creditcard pull-right"></i></h4>
					<p class='hidden'>
						Lorem ipsum dolor sit amet, in pri partem essent. Qui debitis meliore ex, tollit debitis conclusionemque te eos.
					</p>
				</div><!-- End box_style_1 -->
                
				<div class="box_style_2 hidden-xs hidden" id="help">
					<i class="icon_lifesaver"></i>
					<h4>Need <span>Help?</span></h4>
					<a href="tel://004542344599" class="phone">+45 423 445 99</a>
					<small>Monday to Friday 9.00am - 7.30pm</small>
				</div>
                
			</div><!-- End col-md-3 -->
            
			<div class="col-md-6">
				<div class="box_style_2" id="order_process">
					<h2 class="inner">Your order details</h2>
					<!-- <div class="form-group">
						<label>First name</label>
						<input type="text" class="form-control" id="firstname_order" name="firstname_order" placeholder="First name">
					</div>
					<div class="form-group">
						<label>Last name</label>
						<input type="text" class="form-control" id="lastname_order" name="lastname_order" placeholder="Last name">
					</div>
					<div class="form-group">
						<label>Telephone/mobile</label>
						<input type="text" id="tel_order" name="tel_order" class="form-control" placeholder="Telephone/mobile">
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" id="email_booking_2" name="email_order" class="form-control" placeholder="Your email">
					</div> -->
					<div class="form-group">
						<label>Your full address</label>
						<%= select_tag 'address', options_for_select(@end_user.addresses.order(title: 'ASC').collect{ |u| [u.title, u.id] }) , { class: 'selectpicker form-control', "data-live-search" => "true"} %>
						<h4 style="text-align: center;">OR</h4>
						<input type="text" id="address_order" name="address_order" class="form-control" placeholder=" Your full address">

					</div>
					<!-- <div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label>City</label>
								<input type="text" id="city_order" name="city_order" class="form-control" placeholder="Your city">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label>Postal code</label>
								<input type="text" id="pcode_oder" name="pcode_oder" class="form-control" placeholder=" Your postal code">
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label>Delivery Day</label>
								<select class="form-control" name="delivery_schedule_day" id="delivery_schedule_day">
									<option value="" selected>Select day</option>
									<option value="Today">Today</option>
									<option value="Tomorrow">Tomorrow</option>
								</select>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label>Delivery time</label>
								<select class="form-control" name="delivery_schedule_time" id="delivery_schedule_time">
									<option value="" selected>Select time</option>
									<option value="11.30am">11.30am</option>
									<option value="11.45am">11.45am</option>
									<option value="12.15am">12.15am</option>
									<option value="12.30am">12.30am</option>
									<option value="12.45am">12.45am</option>
									<option value="01.00pm">01.00pm</option>
									<option value="01.15pm">01.15pm</option>
									<option value="01.30pm">01.30pm</option>
									<option value="01.45pm">01.45pm</option>
									<option value="02.00pm">02.00pm</option>
									<option value="07.00pm">07.00pm</option>
									<option value="07.15pm">07.15pm</option>
									<option value="07.30pm">07.30pm</option>
									<option value="07.45pm">07.45pm</option>
									<option value="08.00pm">08.00pm</option>
									<option value="08.15pm">08.15pm</option>
									<option value="08.30pm">08.30pm</option>
									<option value="08.45pm">08.45pm</option>
								</select>
							</div>
						</div>
					</div>
					<hr> -->
					<div class="row">
						<div class="col-md-12">
				
								<label>Notes for the restaurant</label>
								<textarea class="form-control" style="height:150px" placeholder="Ex. Allergies, cash change..." name="notes" id="notes"></textarea>
				
						</div>
					</div>
				</div><!-- End box_style_1 -->
			</div><!-- End col-md-6 -->
            
			<div class="col-md-3" id="sidebar">
            	<div class="theiaStickySidebar">
				<div id="cart_box">
					<h3>Your order <i class="icon_cart_alt pull-right"></i></h3>
					<table class="table table_summary">
					<tbody id="mycarti">
					
					</tbody>
					</table>
					<hr>
					<div class="row" id="options_2">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
							<label><input type="radio" value="" checked name="option_2" class="icheck">Delivery</label>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
							<label><input type="radio" value="" name="option_2" class="icheck" disabled>Take Away</label>
						</div>
					</div><!-- Edn options 2 -->
					<hr>
					<table class="table table_summary">
					<tbody>
					<tr>
						<td>
							 Subtotal <span class="pull-right tot_price">$0</span>
						</td>
					</tr>
					<tr>
						<td>
							 Delivery fee <span class="pull-right" id="deli_fee">$0</span>
						</td>
					</tr>
					<tr>
						<td class="total">
							 TOTAL <span class="pull-right tot_price">$0</span>
						</td>
					</tr>
					</tbody>
					</table>
					<hr>
					<a class="btn_full" onclick="place_order();">Confirm Your Order</a>
					<a class="btn_full_outline" href="/"><i class="icon-right"></i> Add other items</a>
				</div><!-- End cart_box -->
                </div><!-- End theiaStickySidebar -->
			</div><!-- End col-md-3 -->
            
		</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->

<!-- SPECIFIC SCRIPTS -->
<script src="website/js/theia-sticky-sidebar.js"></script>
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
</script>

<script type="text/javascript">
	window.onload = function(e){
		coun = parseInt(window.localStorage.getItem('count'));
        if(window.localStorage.getItem('delivery_fee')){
	      deli = parseFloat(window.localStorage.getItem('delivery_fee'));
	    }else{
	      deli = 0 ;
	    }
		var tot_pri = 0.0 ;
		console.log('Fetching');

		da = '';
		for(i = 0; i < coun; i++){
            if(window.localStorage.getItem('carti[' + i + ']')){
               t = JSON.parse(window.localStorage.getItem('carti[' + i + ']'));
               da = da + "<tr><td><a onclick='remove_cart(" + i + ")' class='remove_item'><i class='icon_minus_alt'></i></a> <strong>1x</strong> "+ t.title +"</td><td><strong class='pull-right'>$"+ t.price +"</strong></td></tr>";
               tot_pri = tot_pri + t.price ;
            }
        }

        document.getElementById("mycarti").innerHTML = da ;
        document.getElementsByClassName("tot_price")[0].innerHTML = '$' + tot_pri.toFixed(2);
        document.getElementById("deli_fee").innerHTML = '$' + deli;
        cvs = tot_pri + deli ;
        document.getElementsByClassName("tot_price")[1].innerHTML = '$' + cvs.toFixed(2);
        
	}

    function remove_cart(i) {
        if(window.localStorage.getItem('carti[' + i + ']')){
            localStorage.removeItem('carti[' + i + ']');

            
            $.ajax({
               url: 'http://138.197.117.248/ajax',
               success: function(data) {
                    coun = parseInt(window.localStorage.getItem('count'));
                    var tot_pri = 0.0 ;
                    console.log('Fetching');

                    chk_co = 0;
                    da = '';
                    for(i = 0; i < coun; i++){
                       if(window.localStorage.getItem('carti[' + i + ']')){
                           t = JSON.parse(window.localStorage.getItem('carti[' + i + ']'));
                           da = da + "<tr><td><a onclick='remove_cart(" + i + ")' class='remove_item'><i class='icon_minus_alt'></i></a> <strong>1x</strong> "+ t.title +"</td><td><strong class='pull-right'>$"+ t.price +"</strong></td></tr>";
                           tot_pri = tot_pri + t.price ;
                           chk_co = chk_co + 1;
                       }
                    }

                    document.getElementById("mycarti").innerHTML = da ;
                    document.getElementsByClassName("tot_price")[0].innerHTML = '$' + tot_pri.toFixed(2);
                    document.getElementById("deli_fee").innerHTML = '$' + deli;
                    cvs = tot_pri + deli ;
                    document.getElementsByClassName("tot_price")[1].innerHTML = '$' + cvs.toFixed(2);

                    if(chk_co == 0){
                        window.localStorage.setItem('count', 0);
                        localStorage.removeItem('restaurant');
                    }
               }
            });

        }else{
            console.log('Finding');
        }
    }

    function place_order(){
    	var addr = document.getElementById('address_order').value;
    	var addrres = document.getElementById('address').value;
    	console.log(addrres);
    	var note = document.getElementById('notes').value;


    	var items = [];
    	for(i = 0; i < coun; i++){
           if(window.localStorage.getItem('carti[' + i + ']')){
               t = JSON.parse(window.localStorage.getItem('carti[' + i + ']'));
               items[items.length] = {id: t.id,title: t.title,price: t.price,option: t.options,ingredients: t.ingredients.toString() ,quantity: 1};
           }
        }

        res = JSON.parse(window.localStorage.getItem('restaurant'));

        if((addr.length > 1 || addrres.length > 0) && items.length > 0){
	    	$.ajax({
	           url: '/save_order',
	           type: "POST",
		       data: { restaurant_id: res, address: addr , address_id: addrres, notes: note , item: items , user_id: <%= @end_user.id %> },
	           success: function(data) {
	           	   alertify.success('Order is successfully placed');
	               window.location.assign("<%= confirm_order_path %>"+'?id=O' + data.id);
	           }
	        });
	    }else{
	    	alertify.error('Error: Check address/Food Items');
	    }
    }

    function initMap() {
	    /*var input = document.getElementById('pickup_location');*/
	    var options = {
	      componentRestrictions: {country: 'UK'}
	    };
	    console.log("initilalizing map");       

	    /*var autocomplete = new google.maps.places.Autocomplete(input,options);*/

	    var input_dest = document.getElementById('address_order');
	    var autocomplete_dest = new google.maps.places.Autocomplete(input_dest,options);
	  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoUyblkGqwp2lFuWQb0v_-J_mI5sYJYPc&libraries=places&callback=initMap" async defer></script>